#post_form{
    margin-left: 50px;
}

button {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    margin: .25rem 0;
    padding: .5rem 1rem;
    border: 1px solid #1E6BD6;
    border-radius: 18px;
    background: #1E6BD6;
    color: white;
    font-weight: 600;
    text-decoration: none;
    font-family: sans-serif;
    font-size: .95rem;
    margin-left: 105px;

}